<launch>

    
    <arg name="world_frame" default="world"/>
    <arg name="camera_name" default="camera"/>
    <arg name="camera_frame" default="$(arg camera_name)_base_link"/>

    <arg name="visualize_image" default="true"/>

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="1" />
    <arg name="roll" default="0" />
    <arg name="pitch" default="0" />
    <arg name="yaw" default="0" />

    <arg name="model_path" default="$(find generic_gazebo_camera_plugin)/urdf/camera_standalone.urdf.xacro"/> 
    <arg name="params_path" default="$(find generic_gazebo_camera_plugin)/params/parameters.yaml"/> 

    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model_path) params_path:=$(arg params_path) 
                                                                                   camera_name:=$(arg camera_name)
                                                                                   camera_frame:=$(arg camera_frame)
                                                                                   xyz:='$(arg x) $(arg y) $(arg z)'   
                                                                                   rpy:='$(arg roll) $(arg pitch) $(arg yaw)'
                                                                                   visualize:=$(arg visualize_image)" />
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg camera_name)" />
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_base_link_broadcaster"
                        args="$(arg x) $(arg y) $(arg z) $(arg yaw) $(arg pitch) $(arg roll) $(arg world_frame) $(arg camera_frame)" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>